<div class="side-bar-header">
  <div class="header-name">
    name
  </div>
  <div class="create-room">
    <a href="#">新規登録</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">birthdayroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">birthdayroom2</a>
    </div>
  </div>
</div>